# Managed by Ansible (0xOI/ansible-role-prometheus)
# see https://prometheus.io/docs/alerting/notifications/ for more details

{% for entry in conf %}
{{ "{{" }} define "{{ entry.define }}" {{ "}}" }}{{ entry.template|replace("\{", "{")|replace("\}", "}") }}{{ "{{" }} end {{ "}}" }}
{% endfor %}
